<table class='table table-hover table-inverse'>
  <tbody>
    <tr>
      <td><%= image_tag group.get_image, size: '50x50' %></td>
      <td><%= @group.name %></td>
      <td><%= @group.introduction %></td>
      <td>
        <% if @group.is_owned_by?(current_user) %>
          <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-success" %></td>
        <% end %>
    </tr>
  </tbody>
</table>